<html ng-app="myApp">

<head>
    <title>chat-application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/chat.css">
</head>

<body>
    <div class="container">
        <div class="chat_window" ng-controller="chatController as chatCtrl">
            <div class="top_menu">
                <div class="buttons">
                    <div class="button close" ng-click="chatCtrl.loggout()"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></div>
                    <div class="button minimize"></div>
                    <div class="button maximize"></div>
                </div>
                <div class="title">Chat
                    <h6>{{chatCtrl.typingText}}</h6>
                </div>
            </div>
            <ul class="messages" id="msg">
                <div ng-repeat="message in chatCtrl.messages">
                    <li ng-show="!chatCtrl.ifUser(chatCtrl.user,message.user)" class="message left appeared">
                        <div class="avatar">{{message.user}}</div>
                        <div class="text_wrapper">
                            <div class="text">{{message.message}}</div>
                        </div>
                    </li>
                    <li ng-show="chatCtrl.ifUser(chatCtrl.user,message.user)" class="message right appeared">
                        <div class="avatar">{{message.user}}</div>
                        <div class="text_wrapper">
                            <div class="text">{{message.message}}</div>
                        </div>
                    </li>
                </div>
                <div class="prechatdisplay">
                    <p class="lead" ng-repeat="msg in chatCtrl.prechatdisplay track by $index">{{msg}}</p>
                </div>
            </ul>
            <div class="bottom_wrapper clearfix">
                <div class="message_input_wrapper">
                    <input class="message_input" on-keydown="chatCtrl.iskeydown" ng-model="chatCtrl.text" placeholder="Type your message here...">
                </div>
                <div class="send_message">
                    <div class="icon"></div>
                    <div class=" text" ng-click="chatCtrl.sendmsg()">Send</div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
     <script>
   setInterval(updateScroll, 200);
   var scrolled = false;
   
   function updateScroll() {
       if (!scrolled) {
           var element = document.getElementById("msg");
           element.scrollTop = element.scrollHeight;
       }
   }
   $("#msg").on('scroll', function() {
       scrolled = true;
   });
   </script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script src="../angular/controller/chatController.js"></script>
    <script src="../angular/services/chatservices.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
